<h1 class="title">Edit Contact</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onEditFormSumbit(form)">
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.name"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="Name"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.surname"
          #contactTextField="ngModel"
          name="surname"
          required
          placeholder="surname"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.age"
          #contactTextField="ngModel"
          name="age"
          required
          placeholder="Age"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.email"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="Email"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.email"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="email"
        >
      </div>
    </div><div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.city"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="City"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.street"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="street"
        >
      </div>
    </div>
    <div>
      <div>
        <input
          type="text"
          class="input"
          [ngModel]="contact.mobile"
          #contactTextField="ngModel"
          name="name"
          required
          placeholder="mobile"
        >
      </div>
    </div>
    <div>
      <div>
        <button type="button"(click)="close()">Cancel Edit</button>
       <div>
         <button type="submit">
           <i class="material-icons">save</i>
         </button>
       </div>
      </div>
    </div>
  </form>
</div>
